#geolonia-map-outer-container
{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;

  .geolonia-map-inner-container
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
  }

  &.demonstration-mode .geolonia-map-inner-container
  {
    background-color: transparent;
  }

  .map-container
  {
    width: 100%;
    padding: 0;
    margin: 0;
    height: calc(100% - 150px);
    border: none;
    border-bottom: 1px solid #dedede;
    background-color: #ffffff;
  }

  &.demonstration-mode .map-container
  {
    height: 100%;
    border: none;
    background-color: transparent;
  }

  .code-container
  {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    margin: 0;
    background-color: #ffffff;

    a {
      display: block;
      margin-top: 4px;
      font-size: 80%;
    }
  }

  .get-geolonia-marker
  {
    width: 48px;
    height: 48px;
    position: absolute;
    top: calc(50% - 99px);
    right: -10px;
    left: calc(50% - 24px);
    pointer-events: none;
  }

  .get-geolonia-close
  {
    width: 36px;
    height: 36px;
    position: absolute;
    top: -12px;
    right: -12px;
    display: block;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    border: none;
    z-index: 9999;
  }

  .get-geolonia-marker path
  {
    fill: rgba(255, 255, 255, 0.5);
  }

  .mapboxgl-ctrl-top-right
  {
    top: 20px;
  }

  .get-geolonia-html
  {
    width: 100%;
    font-size: 120%;
    font-family: monospace;
    display: block;
    margin: 0;
    margin-bottom: 8px;
    color: #555555;
  }

  .get-geolonia-copy
  {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .get-geolonia-copy:hover
  {
    background-color: #003366;
  }

  .mapbox-gl-control-select-style
  {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 0;
    outline: none;
  }

  .mapbox-gl-control-community-geocoder-text-input
  {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: .3em;
    height: 24px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 0;
    outline: none;
  }

  .mapbox-gl-control-community-geocoder-message
  {
    margin-top: .2em;
    margin-bottom: .1em;
    color: red;
    background-color: rgba(255, 255, 255, .6);
  }
}
